/* font import */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* custom css */

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 10px;

    background-color:hsl(185, 75%, 39%) ;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* card  */
.card__container{
    min-width: 330px;
    border-radius: 18px;
    overflow: hidden;
    background-color: white;
}

.card__banner{
    height: 140px;
    background-image: url('./images/bg-pattern-card.svg');
}

/* card profile  */
.card__profile__image{
    margin-top: -50px;
    border-radius: 50%;
    border: 5px solid white;
}

.card__profile{
    text-align: center;
    padding-bottom: 20px;
}

/* stats grid area  */
.card__stats__grid{
    border-top: 1px solid hsla(0, 0%, 59%, 0.213);
    padding: 24px 20px;

/* flex layout  */
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */

/* grid layout  */
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.stats__item__title, .card__profile__title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.card__title--age{
    color: hsl(227, 10%, 46%);
    margin: 10px;
    font-weight: 400;

}

.card__profile__location, .stats__item__subtext{
    font-size: 0.85rem;
    margin-top: 0px;
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.stats__item__subtext{
    letter-spacing: 1.5px;
    font-size: 0.65rem;
}

.stats__item span{
    display: block;
}




